html {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
}
h1, h2, input {
    font-family: Verdana, Geneva, sans-serif;
    cursor: pointer;
}
p {
    font-family: Tahoma, Geneva, sans-serif;
}
body {
    width: 100vw;
    line-height: 1.4em;
}

#container {
    height: 100vh;
    position: relative;
}
#uploadbutton {
    width: 90vw; height: 6vh;
    background-color: #DC5D5D;
    position: absolute;
    left: calc(5vw - 0.5vh); top: 4vh;
    padding: 0.5vh;
    display: flex; align-items: center;
    box-shadow: 0 0 2vw #CACACA;
}
#uploadbutton img {
    width: 6vh; height: 6vh;
}
#uploadbutton input {
    display: none;
}

#uploadbutton label {
    color: #FFFFFF;
    margin-left: 5%;
}

#infolist {
    width: 90%; height: 5vh;
    margin-left: 5%;
    display: flex; justify-content: space-between;
}
#sattelite {
    height: 100%; width: 70%;
    display: flex; align-items: center;
    text-transform: uppercase;
    color: #DADADA;
}
#sattelite > div {
    width: 1.2em; height: 1.2em;
    background-color: #DADADA;
    margin-right: 3%;
}
#infobutton {
    width: 1.5em; height: 1.5em;
    background-color: #DADADA;
    display: flex; justify-content: center; align-items: center;
    border-radius: 50%;
    color: #FFFFFF;
}

hr {
    width: 90%; margin-left: 5%;
    border: none; border-bottom: 1px solid #DADADA;
}

#routes {
    height: 100%;
    overflow-y: scroll;
    box-shadow: 0 -2vw 2vw #CACACA;
}
#routes hr {
    border-bottom: 1px solid #BABABA;
}
#routes > h1 {
    max-width: calc(90% - 8vh);
    margin: 2% 0 0 5%;
    font-size: 1.2em;
    color: #DC5D5D;
}
#routes > p {
    margin-left: 5%;
    max-width: calc(90% - 8vh);
}
#routes > div {
    width: 100%; max-height: 25vh;
    box-shadow: 0 -2vw 2vw #CACACA;
    overflow-y: scroll;
    display: none;
    margin-bottom: 2.5%;
    background-color: #EAEAEA;
    position: absolute;
    left: 0; bottom: calc(30vh - 3vw);
}
#routes > div.item {
    padding: 10px 0;
}
#routes > div h2 {
    color: #DC5D5D;
    font-size: 1.2em;
}
#routes > div > * {
    width: 90%;
    margin-left: 5%;
}

#map {
    height: 70%;
    z-index: 0;
}
.marker {
    display: block;
    cursor: pointer;
    background-image: url(../img/marker.svg); /* should be 20px by 20px, important for offset!! */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width:20px;
    height:20px;
}
#routescontainer {
    height: 20%;
}
#routes > #centerbutton {
    background-color: #DC5D5D;
    width: 7vh; height: 7vh;
    border-radius: 50%;
    margin-left: calc(95% - 7vh);
    transform: translateY(10vh);
    display: flex; justify-content: center; align-items: center;
    box-shadow: none;
}
#centerbutton > img {
    width: 60%; height: 60%;
    margin: 0; padding: 0;
}

@media (min-width: 1100px) and (orientation:landscape) {
    body {
        overflow: hidden;
    }
    #uploadbutton {
        width: 25vw; height: 4vh;
        left: calc(5vw - 0.5vh);
        box-shadow: none;
    }
    #routescontainer {
        position: absolute;
        left: calc(5vw - 3vh); bottom: 4vh;
    }
    #routes {
        width: 25vw;
        padding: 3vh;
        box-shadow: none;
        background-color: #eaeaea;
    }
    #routes > div {
        box-shadow: none;
        width: calc(100% - 3vh);
        padding-left: 3vh;
        bottom: calc(20vh + 1vw);
    }
    #routes > div > * {
        margin-right: 3vh;
    }
    #routes p, #routes h1, #routes h2 {
        margin-left: 0;
    }
    #routes > #centerbutton {
        display: none;
    }
    #infolist {
        position: absolute;
        left: 60vw; top: 4vh;
    }
}

/* TEMPORARY DONT USE IN FINAL VERSION */
.mapboxgl-ctrl-logo {
    display: none !important;
}
.mapboxgl-ctrl-attrib {
    display: none !important;
}
.mapboxgl-ctrl-top-right {
    top: 15vh;
}
/* ---------- */